@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



header{
    background-color:#8debe3;
    max-width: 1200px;
    margin: 0 auto;
}
main{
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

body{
    font-family: 'Raleway', sans-serif;
}


img{
  float:right;
    width: 250px; 
    height: auto; 
}

footer{
    background-color:#8debe3;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;

}